.swiper {
  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      max-height: 500px;

      img {
        aspect-ratio: 1280 / 720;
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }
  }
}
